<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>BundleHasStrictIdentifier</key>
    <true/>
    <key>BundleIsRelocatable</key>
    <false/>
    <key>BundleIsVersionChecked</key>
    <false/>
    <key>BundleOverwriteAction</key>
    <string>replace</string>
    <key>ChildBundles</key>
    <array>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/PlugIns/TelegramShare.appex</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/DustLayer_DustLayer.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/CallVideoLayer_CallVideoLayer.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-AppDelegateSwizzler.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-NSData.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-Logger.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/MetalEngine_MetalEngine.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-Reachability.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleDataTransport_GoogleDataTransport.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/Promises_FBLPromises.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-Network.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-UserDefaults.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-Environment.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/PrivateCallScreen_PrivateCallScreen.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Resources/GoogleUtilities_GoogleUtilities-MethodSwizzler.bundle</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Frameworks/GoogleAppMeasurement.framework</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>ChildBundles</key>
        <array>
          <dict>
            <key>BundleHasStrictIdentifier</key>
            <true/>
            <key>BundleOverwriteAction</key>
            <string></string>
            <key>RootRelativeBundlePath</key>
            <string>Applications/Telegram.app/Contents/Frameworks/Sparkle.framework/Versions/A/Resources/Autoupdate.app</string>
          </dict>
        </array>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Frameworks/Sparkle.framework</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Frameworks/FirebaseAnalytics.framework</string>
      </dict>
      <dict>
        <key>BundleOverwriteAction</key>
        <string></string>
        <key>RootRelativeBundlePath</key>
        <string>Applications/Telegram.app/Contents/Frameworks/GoogleAppMeasurementIdentitySupport.framework</string>
      </dict>
    </array>
    <key>RootRelativeBundlePath</key>
    <string>Applications/Telegram.app</string>
  </dict>
</array>
</plist>
